.neon {
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
      --interval: 1s;
    display: block;
  /*   text-shadow: 
      0 0 10px var(--color1),
      0 0 20px var(--color2),
      0 0 40px var(--color3),
      0 0 80px var(--color4); */
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
    
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* general styling */
  :root {
    
  }
  
  .container {
    margin: 0 auto;
  }
  
  .register {
    font-size: calc(1vw + 1vh + 1.5vmin);
    height:108vh;
    width:100%;
    margin-top: -15%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #010a00;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
    font-size: 1rem;
  }
  
  h1 {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  
  @keyframes flicker {
    50% {
      color: white;
      filter: saturate(200%) hue-rotate(20deg);
    }
  }